@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@layer base {
  body {
    @apply dark:bg-[url("../public/dark.jpg")] bg-[url("../public/bg.jpg")];
  }
}
body {
  /* background-image: url("../public/bg.jpg"); */
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 640px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
